state_machine/state_machine_ecommerce.json
{
  "Comment": "Pipeline: RAW -> PROCESSED -> CURATED",
  "StartAt": "StartJobRawToProcessed",
  "States": {
    "StartJobRawToProcessed": {
      "Type": "Task",
      "Resource": "arn:aws:states:::glue:startJobRun.sync",
      "TimeoutSeconds": 3600,
      "Parameters": {
        "JobName": "job-ecommerce-1"
      },
      "Next": "StartCrawlerProcessed",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "FailPipeline"
        }
      ]
    },
    "StartCrawlerProcessed": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:glue:startCrawler",
      "Parameters": {
        "Name": "crawler-ecommerce-processed"
      },
      "Next": "WaitCrawlerProcessed",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "FailPipeline"
        }
      ]
    },
    "WaitCrawlerProcessed": {
      "Type": "Wait",
      "Seconds": 45,
      "Next": "CheckCrawlerProcessed"
    },
    "CheckCrawlerProcessed": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:glue:getCrawler",
      "Parameters": {
        "Name": "crawler-ecommerce-processed"
      },
      "Next": "CrawlerProcessedComplete?",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "FailPipeline"
        }
      ]
    },
    "CrawlerProcessedComplete?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.Crawler.State",
          "StringEquals": "READY",
          "Next": "StartJobProcessedToCurated"
        },
        {
          "Variable": "$.Crawler.State",
          "StringEquals": "FAILED",
          "Next": "FailPipeline"
        }
      ],
      "Default": "WaitCrawlerProcessed"
    },
    "StartJobProcessedToCurated": {
      "Type": "Task",
      "Resource": "arn:aws:states:::glue:startJobRun.sync",
      "TimeoutSeconds": 3600,
      "Parameters": {
        "JobName": "job-ecommerce-3-test",
        "Arguments": {
          "--PROCESSED_DB": "ecommerce-ezequiel-processed",
          "--BUCKET": "ecommerce-ezequiel-2025"
        }
      },
      "Next": "StartCrawlerCurated",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "FailPipeline"
        }
      ]
    },
    "StartCrawlerCurated": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:glue:startCrawler",
      "Parameters": {
        "Name": "crawler-ecommerce-curated"
      },
      "Next": "WaitCrawlerCurated",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "FailPipeline"
        }
      ]
    },
    "WaitCrawlerCurated": {
      "Type": "Wait",
      "Seconds": 20,
      "Next": "CheckCrawlerCurated"
    },
    "CheckCrawlerCurated": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:glue:getCrawler",
      "Parameters": {
        "Name": "crawler-ecommerce-curated"
      },
      "Next": "CrawlerCuratedComplete?",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "FailPipeline"
        }
      ]
    },
    "CrawlerCuratedComplete?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.Crawler.State",
          "StringEquals": "READY",
          "Next": "SuccessFinal"
        },
        {
          "Variable": "$.Crawler.State",
          "StringEquals": "FAILED",
          "Next": "FailPipeline"
        }
      ],
      "Default": "WaitCrawlerCurated"
    },
    "FailPipeline": {
      "Type": "Fail",
      "Cause": "Pipeline failed"
    },
    "SuccessFinal": {
      "Type": "Succeed"
    }
  }
}